altgraph==0.16.1
asn1crypto==0.24.0
attrs==19.1.0
certifi==2019.3.9
cffi==1.12.3
chardet==3.0.4
colorama==0.4.1
cryptography==3.2
future==0.17.1
geojson==2.4.1
idna==2.8
macholib==1.11
pefile==2019.4.18
pyasn1==0.4.5
pyasn1-modules==0.2.5
pycparser==2.19
PyInstaller==3.4
pyOpenSSL==19.0.0
pyowm==2.10.0
pyTelegramBotAPI==3.6.6
pywin32-ctypes==0.2.0
requests==2.7.0
service-identity==18.1.0
six==1.12.0
telebot==0.0.3
TelegramBotAPI==0.3.2
urllib3==1.24.3
